---
import SocialMedia from './SocialMedia.astro';
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <p>Learn more about the <a href="https://www.pepr-ensemble.fr/" target="_blank">PEPR eNSEMBLE</a> and the PC2 PILOT <a href="https://www.pepr-ensemble.fr/pilot-pratiques-et-infrastructures-pour-une-collaboration-a-long-terme/" target="_blank">here</a> </p>
</footer>