---
import SocialMedia from './SocialMedia.astro';
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <p>Learn more about my projects on: </p>
  <SocialMedia platform="twitter" username="astrodotbuild" />
  <SocialMedia platform="github" username="withastro" />
  <SocialMedia platform="youtube" username="astrodotbuild" />
</footer>