---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPost from '../../components/BlogPost.astro';

export async function getStaticPaths() {
	const allPosts = Object.values(import.meta.glob('../posts/*.md', { eager: true }));
	
	const uniqueTopics = [...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat())];
	
	return uniqueTopics.map((topic) => {
	  const filteredPosts = allPosts.filter((post: any) => post.frontmatter.tags.includes(topic));
	  return {
		params: { topic },
		props: { posts: filteredPosts },
	  };
	});

}

const { topic } = Astro.params;
const { posts } = Astro.props;
---
<BaseLayout pgTitle={topic}>
  <p>Posts tagged with {topic}</p>
    <ul>
		{posts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title}/>)}
  </ul>
</BaseLayout>
