---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';

const pgTitle = "About";

---

<BaseLayout pgTitle={pgTitle}>
		<h2>A research cases library for the PEPR eNSEMBLE project</h2>


		<p>I am working through Astro's introductory tutorial. This is the second page on my website, and it's the first one I built myself!</p>

		<img src="https://hal.science/PEPR-ENSEMBLE/public/Banniere_PEPR_ensemble_v2.png" alt="Bannière PEPR PC2" />

		<p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>
		


</BaseLayout>
