---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';

const pgTitle = "About";

---

<BaseLayout pgTitle={pgTitle}>
		<h2>A research cases library for the PEPR eNSEMBLE PC2 PILOT</h2>


		<p>This web collection is a research case repository developed by the researchers of PC2 PILOT about long term collaboration. This case repository aims at sharing research and publications between the involved researcher and  other colleagues from the <a href="https://www.pepr-ensemble.fr/" target="_blank">PEPR eNSEMBLE</a>. More information about the PC2 PILOT can be found <a href="https://www.pepr-ensemble.fr/pilot-pratiques-et-infrastructures-pour-une-collaboration-a-long-terme/" target="_blank">here</a>.</p>

		<p>This web collection update as we are making progress in our research and field work, so keep checking back and see our my journey is going!</p>
		


</BaseLayout>
