---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';

const pgTitle = "My Astro Learning Blog";
---

<BaseLayout pgTitle={pgTitle}>
	  <p>This is where I will post about my journey learning Astro.</p>	
	  <ul>
		<a href="/myAstroTest/posts/post-1">My first blog post</a>
		<a href="/myAstroTest/posts/post-2">Post 2</a>
		<a href="/myAstroTest/posts/post-3">Post 3</a>
	  </ul>

</BaseLayout>
