---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';

const pgTitle = "A research cases library";
---

<BaseLayout pgTitle={pgTitle}>
  <h2>Work in porgress -- here are coming the highlights</h2>
</BaseLayout>
