---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';

const pgTitle = "My Astro Website Deployed with an Action";
---

<BaseLayout pgTitle={pgTitle}>
  <h2>My awesome blog subtitle</h2>
</BaseLayout>
